<h1>Sign Up</h1>
<%= form_with model: @user, url: sign_up_path do |form| %>
    <%= @user.errors.any? %>
    <% if @user.errors.any? %>
     <div class="alert alert-danger">
        <%= @user.errors.full_messages.each do |message| %>
            <div><%= message %></div>
        <% end%>
     </div>
    <% end %>
   <div class="mb-3">
        <%= form.label :email, class: "form-label"%>
        <%= form.text_field :email, placeholder: "email@gmail.com", class: "form-control"%>
    </div>
    <div class="mb-3">
        <%= form.label :username, class: "form-label"%>
        <%= form.text_field :username, placeholder: "username", class: "form-control"%>
    </div>
    <div class="mb-3">
        <%= form.label :password, class: "form-label"%>
        <%= form.password_field :password, placeholder: "password", class: "form-control"%>
    <div class="mb-3">
        <%= form.label :password_confirmation, class: "form-label"%>
        <%= form.password_field :password_confirmation, placeholder: "password", class: "form-control"%>
    </div>
    <div class="mb-3">
        <%= form.submit "Sign Up", class: 'btn btn-primary'%>
    </div>
<% end %>
